{% extends "base.html" %}

{% block content %}
    {% set count=0 %}
    <h1>API Portabo Voda</h1>
    <p>Na níže uvedeném odkaze najdete GraphQL API, které poskytuje přístup ke všem aktuálním hlásným profilům pomocí jednoduchého jazyka a vrací data ve formátu JSON.</p>
    <p>Odkaz lze využít jak pro zkoumání dat pomocí příslušného nástroje, tak pro automatické stahování dat. Po rozkliknutí odkazu naleznete po pravé straně záložku DOCS, ve které jsou vidět dostupné funkce. Níže také vidíte ukázku použití obou funkcí. První příkaz vypíše zeměpisné šířku a délku, ORP, aktuální hladinu a textový popis hladiny dle povodňového plánu všech hlásných profilů. Druhý příkaz je velmi podobný, ale slouží pro vypsání pouze jednoho hlásného profilu identifikovaného dle jednoznačného identifikátoru ORP (zde BI-03). Je důležité nezapomenout složené závorky kolem celého příkazu (začínají na druhém řádku).</p>
    
    <center><a href="{{url_for('api_bp.graphql_server')}}">Odkaz na API</a></center>
    <div class="row" style="margin:20px;">
        <div class="col-md" style="margin:20px;">
            <center>
            <img src="{{url_for('static',filename='Img/listHlasice.png')}}"></center>
        </div>
        <div class="col-md" style="margin:20px;">
            <center>
            <img src="{{url_for('static',filename='Img/getHlasic.png')}}"></center>
        </div>
    </div>
    

    </div>
{% endblock %}