{% extends "base.html" %}

{% block scripts %}
<script type='text/javascript' src="{{url_for('static',filename='Dist/js/CZ042-single.js')}}"></script>
{% endblock %}

{% block content %}
{% set url = "Img/leafletIcons/"+hlasic.uroven+".png" %} 
    <div class="row">
        <center><Strong>EVIDENČNÍ LIST PROFILU {{hlasic.ORP}}</Strong> </center><br>
        <div class="col-lg">       
            <div>
                <table class="table table-striped">
                <tbody>
                <tr><td><strong>Kód čidla:</strong></td><td> {{hlasic.ORP}}</td></tr>
                <tr><td><strong> Tok:</strong></td><td> {{hlasic.Tok}}</td></tr>
                <tr><td><strong> Obec:</strong></td><td> {{hlasic.Obec}}</td></tr>
                <tr><td><strong> ORP:</strong></td><td> {{hlasic.Nazev}}</td></tr>
                <tr><td><strong> Aktuální hladina:</strong></td>
                {% if hlasic.distance is not none and hlasic.aktivni == 1 %}
                <td> Výška: {{hlasic.hladina|round|int}} cm
                {% else %}
                <td> Nelze zjistit
                {% endif %} 
                <img src="{{url_for('static', filename=url)}}"  width='24px' height='24px'> </td></tr>
                <tr><td><strong>Čas posledního měření:</strong></td><td {% if late %} style="color: #ab2323;" {% endif %}> {{latest.strftime('%Y-%m-%d %H:%M')}}</td></tr>
                <tr><td><strong> Teplota:</strong></td><td> {{"%.1f" | format(hlasic.teplota)}}°C </td></tr>
                <tr><td><strong> Vlhkost:</strong></td><td> {{"%.1f" | format(hlasic.vlhkost)}} %</td></tr>
                {% if hlasic.Srazkomer == "Ano" %}
                <tr><td><strong> Aktuální srážky:</strong></td><td> 0</td></tr>
                {% endif %}
                <tr><td><strong> Povodňové stupně:</strong></td><td> 1. SPA={{hlasic.FloodStageLevel2|round|int}} cm, 2. SPA={{hlasic.FloodStageLevel3|round|int}} cm, 3. SPA={{hlasic.FloodStageLevel4|round|int}} cm</td></tr>
                <tr><td><strong> Souřadnice GPS:</strong></td><td> N {{hlasic.Wgs84Lat}} E {{hlasic.Wgs84Lon}}</td></tr>
                <tr><td><strong> Číslo hydrologického pořadí:</strong></td><td> {{hlasic.HydroOrderNum}}</td></tr>
                <tr><td><strong> Říční kilometr:</strong></td><td>{{hlasic.RiverDistance}} {{hlasic.RiverDistanceUnit}}</td></tr>
                <tr><td><strong> Nula vodočtu:</strong></td><td>{{hlasic.ZeroGaugeElevation}} {{hlasic.ZeroGaugeElevationUnit}}</td></tr>
                <tr><td><strong> Provozovatel:</strong></td><td> Ústecký kraj</td></tr>
                <!-- <tr><td><strong> Napětí baterie:</strong></td><td> {{hlasic.baterie}}</td></tr> -->
                <tr><td><strong> Fotodokumentace:</strong></td><td><a href={{hlasic.url_foto}} target="_blank">Odkaz</a></td></tr>
                </tbody>
                </table>            
            </div>            
        </div>
        <div class="col-lg">
            <div id="mapid" style="width:100%; height: 25vh; margin-bottom: 20px;"></div>
            <div id="chart-box24" style="position: relative; width:100%; display: block; margin-bottom: 20px;"><canvas id="chart24"></canvas> </div>
        </div>
    </div>
    <div id="chart-box" style="position: relative; width:100%; display: block; margin-bottom: 20px;"><canvas id="chart"></canvas> </div>
    <div id="chart-boxBattery" style="position: relative; width:100%; display: block; margin-bottom: 20px;"><canvas id="chartBattery"></canvas> </div>
    <!-- <div id="mezera" style="width: 95vw; height: 5vh; display: block"></div>
   
    <div id="mezera2" style="width: 95vw; height: 2vh; display: block"></div>
    <div id="mapid" style="width: 95vw; height: 20vh; display: block"></div> -->

<script type="text/javascript"> // MAPA
    var map = L.map('mapid').setView([{{hlasic.lat}}, {{hlasic.lon}}], 16);
    map._layersMaxZoom = 19;
    
    var norm = new L.markerClusterGroup();map.addLayer(norm);
    var Stadia_Outdoors = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        layers: [norm],
        attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);
        // pridani ikonek ruzneho tvaru nebo barev
        LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [20, 20],
            }
        });
    var	SPA1Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA1.png')}}"}),
        SPA2Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA2.png')}}"}),
        SPA3Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA3.png')}}"}),
        SUCHIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SUCHO.png')}}"}),
        NELZIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/NELZE.png')}}"}),
        VYPNIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/VYPNUTO.png')}}"}),
        NORMIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/NORMAL.png')}}"});
    
    var popup = L.popup();

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("Pozice na mapě " + e.latlng.toString())
            .openOn(map);
    }

    // Nastavení maxima, přes které již budeme ořezávat příchozí data
    {% if hlasic.nulovy_stav %}
        {% set topLevel = hlasic.FloodStageLevel4|round|int + ((hlasic.nulovy_stav - hlasic.FloodStageLevel4|round|int)*7/10) %}
    {% else %}
        {% set topLevel = hlasic.FloodStageLevel4|round|int + 40 %}
    {% endif %}    

    {% if(hlasic.topic[0:4]=='/udp') %}
        var typ="UDP senzor {{hlasic.topic}}";
    {% else %}
        var typ="WWW parsing - http://voda.kr-ustecky.cz {{hlasic.topic}}";
    {% endif %}

    // var popupopen=".on('popupopen', function (popup) { ukazDetail(\"{{hlasic.ORP}}\");})";
    var popisek=" <br>{{hlasic.Adresa}} <br> zdroj dat =";
    popisek +=typ;
    popisek +=" <br> hladina "
    {% if hlasic.distance is not none and hlasic.hladina > -50 and hlasic.hladina < topLevel %}
    popisek +="= {{hlasic.hladina|round|int}} [cm]"
    {% else %}
    popisek +="nelze zjistit"
    {% endif %}        
    popisek +="<br> <a href={{url_for('main_bp.hlasic',orp=hlasic.ORP)}}>";
    popisek +="Přehled pro stanici {{hlasic.ORP}}</a>"; // onmouseover=ukazDetail('{{hlasic.ORP}}')

    map.on('click', onMapClick);
    var urovenFiltr = "{{hlasic.uroven[0:4]|upper}}"
    if (urovenFiltr == "NORM" || urovenFiltr == "SUCH") {
        var Icon = NORMIcon
    } else if (urovenFiltr == "SPA1") {
        var Icon = SPA1Icon
    } else if (urovenFiltr == "SPA2") { 
        var Icon = SPA2Icon
    } else if (urovenFiltr == "SPA3") {
        var Icon = SPA3Icon
    } else if (urovenFiltr == "NELZ") {
        var Icon = NELZIcon
    } else  { //(urovenFiltr == "VYPN")
        var Icon = VYPNIcon
    }
    L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: Icon}).bindPopup("{{hlasic.ORP}} " + urovenFiltr + popisek).addTo(norm); // .on('popupopen', function (popup) { ukazDetail("{{hlasic.ORP}}");})
</script>
<script type="text/javascript"> // GRAFY

    // Vytvoření seznamů slovníků (datasety list[slovníky])
    var dps = [
        {% for key,value in dataGraf.items() %} {% if value > -20 and value < topLevel %} { t: "{{key}}", y: {{value}} }, {% endif %} {% endfor %}
    ];
    var dps24 = [
        {% for key,value in dataGraf24.items() %}
            {% if value > -20 and value < topLevel %}
             { t: "{{key}}", y: {{value}} },
            {% endif %}
        {% endfor %}
    ];
    var dpsBattery = [
        {% for key,value in dataGrafBattery.items() %}
             { t: "{{key}}", y: {{value}} },
        {% endfor %}
    ];
    var dates24 = [
        {% for key,value in dataGraf24.items() %}
            "{{key}}",
        {% endfor %}
    ];

    // Dnešní datum a první časy z jednotlivých datových setů
    var todayDate = new Date();
    if (dps.length === 0){ 
        var graph1mDate = new Date()
        graph1mDate.setFullYear(2021-1-1)
    } else {
        var graph1mDate = new Date(Object.values(dps[0])[0]);
    }
    if (dps24.length === 0){ 
        var graph24Date = new Date()
        graph24Date.setFullYear(2021-1-1)
    } else {
        var graph24Date = new Date(Object.values(dps24[0])[0]);
    }

    // Pokud je nějaký údaj vzdálený o více jak 30 dnů, pak změníme název grafu z posledního měsíce
    if (todayDate.getTime() - graph1mDate.getTime() > 1000*3600*24*30){
        var hladina1m = "Hladina za měsíc od posledního přijatého údaje";
    } else {
        var hladina1m = "Hladina za poslední měsíc";
    }

    // Pokud je nějaký údaj vzdálený o více jak 24 hodin, pak změníme mnoho údajů v 24h grafu
    if (todayDate.getTime() - graph24Date.getTime() > 1000*3600*24){ 
        var graphType = "scatter";  // Pokud nejsou aktuální data, tak změníme na scatter
        var scaleIDaxe = 'y-axis-1'; // Pro zobrazení annotací
        var last24 = new Date(dates24[dates24.length - 1]); // Začátek grafu
        var first24 = new Date(last24.getTime() - 1000*60*60*24); // Konec grafu
        var hladina24 = "Hladina za 24 hodin od posledního přijatého údaje"; // Popisek grafu
        // Label spodní osy X, formát: "interval od 06.05.2021 4:25 do 07.05.2021 4:25"
        var label24 = "Interval od " + first24.getDate().toString().padStart(2, '0') + ". "
                                    + (first24.getMonth()+1).toString().padStart(2, '0') + ". "
                                    + first24.getFullYear() + " "
                                    + first24.getHours() + ":" + first24.getMinutes()
                                    + " do " 
                                    + last24.getDate().toString().padStart(2, '0') + ". "
                                    + (last24.getMonth()+1).toString().padStart(2, '0') + ". "
                                    + last24.getFullYear() + " "
                                    + last24.getHours() + ":" + last24.getMinutes();
    } else { // Pokud jsou aktuální data, vytvoříme jednoduše
        var graphType = "line";
        var scaleIDaxe = 'y-axis-0';
        var last24 = new Date(Object.values(dps24[dps24.length - 1])[0]);  // poslední čas
        var first24 = new Date(Object.values(dps24[0])[0]); // první čas
        var hladina24 = "Hladina za posledních 24 hodin";
        var label24 = "Hodina";
    }


    // GRAF PRO ZOBRAZENÍ POSLEDNÍHO MĚSÍCE
    var ctx = document.getElementById("chart");

    var myChart = new Chart(ctx, { type: 'liner', data: dps });

    myChart.clear();
    var ticks={}; //ticks pro yScale default nic // pri nenulovem stavu je dle urovni +-20 cm
    if ("{{hlasic.nulovy_stav}}" != "None"){ //jeli definovany nulovy stav, tak nadefinuj rozsahy
        ticks= {         
            min: {{hlasic.FloodStageLevel0}}-20,
            max: {{hlasic.FloodStageLevel4}}+20
        }
    } else {
        ticks= {         
            min: {{hlasic.FloodStageLevel0}}-20,
            max: {{hlasic.FloodStageLevel4}}+20
        }
    }
    jsonChart={
    type: 'line',
    data: { datasets: [
        {label: hladina1m,
        data: dps,
            fill: false,
            borderColor: 'blue'
        }
        ]},
    options: {
        tooltips: {
            callbacks: {
                label: function (tooltipItem) {
                    return ('Hladina: ' + tooltipItem.value + ' cm');
                }
            }
        },
        title: {
                display: false,
                text: 'Hladina stanice {{hlasic.ORP}}'
            },
            
            scales: {
                yAxes:[{
                        scaleLabel: {
                            display:     true,
                            labelString: 'Hladina [cm] '
                        },
                        display: true,
                        ticks: ticks,
                    }],
                xAxes: [{
                    type: 'time',
                    display: true,
                    ticks: {
                        max: todayDate
                    },
                    scaleLabel:{
                        display: true,
                        labelString: 'Den'
                    },
                    time: {
                        unit: 'day',
                        //format: timeFormat,
                        tooltipFormat: 'DD. MM. YYYY HH:mm:ss',
                        displayFormats: {
                            day: 'DD. MM.'
                        }
                    }
                }],
                
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: {{hlasic.FloodStageLevel1}},
                    borderColor: 'rgb(50, 150, 250)',
                    borderWidth: 1,
                    label: {
                        backgroundColor: 'rgba(50,150,250,0.8)',  
                        enabled: true,
                        content: 'Normální stav',
                        position: 'center'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: {{hlasic.FloodStageLevel2}},
                    borderColor: 'rgb(50, 250, 80)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(50,250,80,0.8)',  
                        enabled: true,
                        content: 'SPA1 ',
                        position: 'left'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: {{hlasic.FloodStageLevel3}},
                    borderColor: 'rgb(230, 200, 5)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(230,200,5,0.8)',  
                        enabled: true,
                        content: 'SPA2 ',
                        position: 'left'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: {{hlasic.FloodStageLevel4}},
                    borderColor: 'rgb(255, 20, 20)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(255,20,20,0.8)',  
                        enabled: true,
                        content: 'SPA3 ',
                        position: 'left'
                    }
                }
        ]
    }
        }
    }

    myChart = new Chart(ctx, jsonChart);

    // GRAF PRO POSLEDNÍCH 24 HODIN
    var ctx24 = document.getElementById("chart24");

    var myChart24 = new Chart(ctx24, { type: 'liner', data: dps24 });

    myChart24.clear();
    var ticks={}; //ticks pro yScale default nic // pri nenulovem stavu je dle urovni +-20 cm
    if ("{{hlasic.nulovy_stav}}" != "None"){ //jeli definovany nulovy stav, tak nadefinuj rozsahy
        ticks= {         
            min: {{hlasic.FloodStageLevel0}}-20,
            max: {{hlasic.FloodStageLevel4}}+20
        }
    } else {
        ticks= {         
            min: {{hlasic.FloodStageLevel0}}-20,
            max: {{hlasic.FloodStageLevel4}}+20
        }
    }
    jsonChart24={
    type: graphType,
    data: { datasets: [
        {label: hladina24,
        data: dps24,
            fill: false,
            borderColor: 'blue'
        }
        ]},
    options: {
        tooltips: {
            callbacks: {
                label: function (tooltipItem) {
                    return ('Hladina: ' + tooltipItem.value + ' cm');
                }
            }
        },
        title: {
                display: false,
                text: 'Hladina stanice {{hlasic.ORP}}'
            },
            
            scales: {
                yAxes:[{
                        scaleLabel: {
                            display:     true,
                            labelString: 'Hladina [cm] '
                        },
                        display: true,
                        ticks: ticks,
                    }],
                xAxes: [{
                    type: 'time',
                    display: true,
                    ticks: {
                        max: last24,
                        min: first24,
                    },
                    scaleLabel:{
                        display: true,
                        labelString: label24,
                        fontStyle: 'bold',
                    },
                    time: {
                        //format: timeFormat,
                        displayFormats: {hour: 'HH:mm'},
                        tooltipFormat: 'DD. MM. YYYY HH:mm:ss',
                        unit: 'hour'
                    }
                }],
                
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: scaleIDaxe,
                    value: {{hlasic.FloodStageLevel1}},
                    borderColor: 'rgb(50, 150, 250)',
                    borderWidth: 1,
                    label: {
                        backgroundColor: 'rgba(50,150,250,0.8)',  
                        enabled: true,
                        content: 'Normální stav',
                        position: 'center'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: scaleIDaxe,
                    value: {{hlasic.FloodStageLevel2}},
                    borderColor: 'rgb(50, 250, 80)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(50,250,80,0.8)',  
                        enabled: true,
                        content: 'SPA1 ',
                        position: 'left'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: scaleIDaxe,
                    value: {{hlasic.FloodStageLevel3}},
                    borderColor: 'rgb(230, 200, 5)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(230,200,5,0.8)',  
                        enabled: true,
                        content: 'SPA2 ',
                        position: 'left'
                    }
                },{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: scaleIDaxe,
                    value: {{hlasic.FloodStageLevel4}},
                    borderColor: 'rgb(255, 20, 20)',
                    borderWidth: 2,
                    label: {
                        backgroundColor: 'rgba(255,20,20,0.8)',  
                        enabled: true,
                        content: 'SPA3 ',
                        position: 'left'
                    }
                }
        ]
    }
        }
    }

    myChart24 = new Chart(ctx24, jsonChart24);

    var ctxBattery = document.getElementById("chartBattery");

    var myChartBattery = new Chart(ctxBattery, { type: 'liner', data: dpsBattery });

    myChartBattery.clear();
    

    // přepsání ticků
    var ticks = {}
    if ({{dataGrafBattery.get(batteryMin)}}<2900){ // pokud je minimum pod kritickou hodnotou, tak minima a maxima posuneme o 100
        ticks ={         
            min: {{dataGrafBattery.get(batteryMin)}}-100,
            max: {{dataGrafBattery.get(batteryMax)}}+100
        }
    } else {

        
        ticks ={         
            min: 2800,
            max: {{dataGrafBattery.get(batteryMax)}}+100
        }
    }
    

    jsonChartBattery={
    type: 'line',
    data: { datasets: [
        {label:"Úroveň baterie za posledních 90 dnů",
        data: dpsBattery,
            fill: false,
            borderColor: 'blue'
        }
        ]},
    options: {
        title: {
                display: false,
                text: 'Úroveň baterie stanice {{hlasic.ORP}}'
            },
            
            scales: {
                yAxes:[{
                        scaleLabel: {
                            display:     true,
                            labelString: 'Napětí [mV]'
                        },
                        display: true,
                        ticks: ticks,
                    }],
                xAxes: [{
                    type: 'time',
                    display: true,
                    scaleLabel:{
                        display: true,
                        labelString: 'Den'
                    },
                    time: {
                        //format: timeFormat,
                        tooltipFormat: 'll',
                        unit: 'day'
                    }
                }],
                
            },
            annotation: {
                annotations: [{
                type: 'line',
                mode: 'horizontal',
                scaleID: 'y-axis-0',
                value: 2900,
                borderColor: 'rgb(255, 20, 20)',
                borderWidth: 2,
                label: {
                backgroundColor: 'rgba(255,20,20,0.8)',  
                enabled: true,
                content: 'Kriticky nízká úroveň ',
                position: 'left'
                }
            }
            
            ]}
        }
    }

    myChartBattery = new Chart(ctxBattery, jsonChartBattery);

</script>

{% endblock %}
