{% extends "base.html" %}

{% block scripts %}
<script type='text/javascript' src="{{url_for('static',filename='Dist/js/CZ042-single.js')}}"></script>
{% endblock %}

{% block content %}
    <div id="mapid" style="width: 100%; height: 100%; display: block"></div>

    <script type="text/javascript">
    var map = L.map('mapid').setView([50.492, 13.9], 9);
    map._layersMaxZoom = 19;
    let marker;
    var markers = new L.markerClusterGroup();
    var markerClusters = L.markerClusterGroup();
    var vse = new L.markerClusterGroup();map.addLayer(vse);
    var such = new L.markerClusterGroup();map.addLayer(such);
    var norm = new L.markerClusterGroup();map.addLayer(norm);
    var nelz = new L.markerClusterGroup();map.addLayer(nelz); 
    var vypn = new L.markerClusterGroup();map.addLayer(vypn);
    var spa1 = new L.markerClusterGroup();map.addLayer(spa1);
    var spa2 = new L.markerClusterGroup();map.addLayer(spa2);
    var spa3 = new L.markerClusterGroup();map.addLayer(spa3);


    var Stadia_Outdoors = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        layers: [ markers,such,norm,spa1,spa2,spa3],
        attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);
        // pridani ikonek ruzneho tvaru nebo barev
        LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [36, 36],
            }
        });

    var	SPA1Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA1.png')}}"}),
        SPA2Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA2.png')}}"}),
        SPA3Icon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SPA3.png')}}"}),
        SUCHIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/SUCHO.png')}}"}),
        NELZIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/NELZE.png')}}"}),
        VYPNIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/VYPNUTO.png')}}"}),
        NORMIcon = new LeafIcon({iconUrl: "{{ url_for('static', filename='Img/leafletIcons/NORMAL.png')}}"});

    var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Pozice na mapě " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);
    //CZ042geoData  definovano v CZ042.js kde jsou ulozeny geodata ohledne uzemi Usteckeho Kraje NUTS CZ042
    L.geoJson(Kadan_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Litomerice_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Lovosice_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Roudnice_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Louny_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Podborany_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Zatec_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Litvinov_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Most_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Bilina_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Teplice_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Usti_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Decin_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Rumburk_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Varnsdorf_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    L.geoJson(Chomutov_geojson,{style:{color: "#867979", opacity:0.9}}).addTo(map);
    
    </script>
    <script type="text/javascript">

    var count = 0
    var poctyNORM = 0
    var poctySPA1 = 0
    var poctySPA2 = 0
    var poctySPA3 = 0
    var poctyVYPN = 0
    var poctyNELZ = 0
    {% for hlasic in hlasice %}

        {% if(hlasic.topic[0:4]=='/udp') %}
            var typ="UDP senzor {{hlasic.topic}}";
        {% else %}
            var typ="WWW parsing - http://voda.kr-ustecky.cz {{hlasic.topic}}";
        {% endif %}

        // ořezávání dat
        {% if hlasic.nulovy_stav %}
            {% set topLevel = hlasic.FloodStageLevel4|round|int + ((hlasic.nulovy_stav - hlasic.FloodStageLevel4|round|int)*7/10) %}
        {% else %}
            {% set topLevel = hlasic.FloodStageLevel4|round|int + 40 %}
        {% endif %}

        //var popupopen=".on('popupopen', function (popup) { ukazDetail(\"{{hlasic.ORP}}\");})";
        var popisek=" <br>{{hlasic.Adresa}} <br> zdroj dat =";
        popisek +=typ;
        popisek +=" <br> hladina "
        {% if hlasic.distance is not none and hlasic.hladina > -50 and hlasic.hladina < topLevel %}
        popisek +="= {{hlasic.hladina|round|int}} [cm]"
        {% else %}
        popisek +="nelze zjistit" // nelze zjistit
        {% endif %}        
        popisek +="<br> <a href={{url_for('main_bp.hlasic',orp=hlasic.ORP)}}>";
        popisek +="Přehled pro stanici {{hlasic.ORP}}</a>"; // onmouseover=ukazDetail('{{hlasic.ORP}}')
        

        var urovenFiltr = "{{hlasic.uroven[0:4]|upper}}"
 
        // odstranět dodatek funkce, která je nefunkční -> .on('popupopen', function (popup) { ukazDetail("{{hlasic.ORP}}");})
        if (urovenFiltr == "NORM" || urovenFiltr == "SUCH") {
            poctyNORM+=1;
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: NORMIcon}).bindPopup("{{hlasic.ORP}} " + count + " " + urovenFiltr + popisek).addTo(norm);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: NORMIcon}).bindPopup("{{hlasic.ORP}} " + count + " " + urovenFiltr + popisek).addTo(vse);
        } else if (urovenFiltr == "SPA1") {
            poctySPA1+=1
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA1Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(spa1);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA1Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vse);
        } else if (urovenFiltr == "SPA2") { 
            poctySPA2+=1; 
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA2Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(spa2);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA2Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vse);
        } else if (urovenFiltr == "SPA3") {
            poctySPA3+=1;
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA3Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(spa3);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: SPA3Icon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vse);
        } else if (urovenFiltr == "NELZ") {
            poctyNELZ+=1;
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: NELZIcon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(nelz);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: NELZIcon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vse);
        } else if (urovenFiltr == "VYPN") {
            poctyVYPN+=1;
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: VYPNIcon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vypn);
            L.marker([{{hlasic.lat}},{{hlasic.lon}}], {icon: VYPNIcon}).bindPopup("{{hlasic.ORP}}" + count + urovenFiltr + popisek ).addTo(vse);
        }
        count += 1;
        

    {% endfor %}

    </script>
    <script type="text/javascript">
    var poctyVSE = poctyNORM + poctySPA1 + poctySPA2 + poctySPA3 + poctyNELZ + poctyVYPN;
    var VSEo = " " + poctyVSE + "-Vše dohromady";
    var NORMo = " <img src={{ url_for('static', filename='Img/leafletIcons/NORMAL.png')}} height=24> " + poctyNORM + "- Normalni stav";
    var SPA1o = " <img src={{ url_for('static', filename='Img/leafletIcons/SPA1.png')}} height=24> " + poctySPA1 + "- SPA1 "
    var SPA2o = " <img src={{ url_for('static', filename='Img/leafletIcons/SPA2.png')}} height=24> " + poctySPA2 + "- SPA2 "
    var SPA3o = " <img src={{ url_for('static', filename='Img/leafletIcons/SPA3.png')}} height=24> " + poctySPA3 + "- SPA3 "
    var NELZo = " <img src={{ url_for('static', filename='Img/leafletIcons/NELZE.png')}} height=24> " + poctyNELZ + " - Nelze určit "
    var VYPNo = " <img src={{ url_for('static', filename='Img/leafletIcons/VYPNUTO.png')}} height=24>  " + poctyVYPN + "- Vypnuto "
    var overlays = {
        [NELZo]: nelz, 
        [NORMo]: norm,
        [SPA1o]: spa1,
        [SPA2o]: spa2,
        [SPA3o]: spa3,
        [VYPNo]: vypn, 
        [VSEo]: vse };
    L.control.layers(overlays,null,{collapsed:false,position: 'topleft',autoZIndex:true}).addTo(map);        
    </script>

{% endblock %}