<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('main_bp.home')}}">Povodňový systém Ústeckého kraje</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a {% if curpage == "home" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('main_bp.home')}}">Domů</a>
          </li>
          <li class="nav-item">
            <a {% if curpage == "profily" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('main_bp.hlasice')}}">Profily</a>
          </li>
          <li class="nav-item">
            <a {% if curpage == "novinky" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('main_bp.novinky')}}">Novinky</a>
          </li>
          <li class="nav-item">
            <a {% if curpage == "oprojektu" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('main_bp.oprojektu')}}">O projektu</a>
          </li>
          <li class="nav-item">
            <a {% if curpage == "odkazy" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('main_bp.odkazy')}}">Odkazy</a>
          </li>
          <li class="nav-item">
            <a {% if curpage == "api" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{url_for('api_bp.api')}}">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:kejzlar.t@kr-ustecky.cz">Mailme</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>