{% extends "base.html" %}

{% block content %}
    <h1>Novinky</h1>

    <br><br><strong><p>26. 5. 2021</p></strong>
    <p>Osadili jsme další čidla. Nově monitorujeme hladiny toků v <a href={{url_for('main_bp.hlasic',orp="DE-01")}}>Huntířově</a>, <a href={{url_for('main_bp.hlasic',orp="UL-06")}}>Lhotě pod Pannou</a> a <a href={{url_for('main_bp.hlasic',orp="UL-13")}}>Proboštově</a>.</p>
    <br><br><strong><p>18. 5. 2021</p></strong>
    <p>Pokud jste obcí či městem v Ústeckém kraji a také byste chtěli, abychom vám hlídali hladinu toku, neváhejte nás kontaktovat na <a href="mailto:kejzlar.t@kr-ustecky.cz">kejzlar.t@kr-ustecky.cz</a>.</p>
    <br><br><strong><p>22. 2. 2021</p></strong>
    <p>Podmínky zapojení se jsou popsány ve smlouvě o spolupráci, kterou si můžete stáhnout níže.</p>
{% endblock %}