{% extends "base.html" %}

{% block content %}
    <h1>Odkazy</h1>

    <br><a href="www.chmu.cz">ČHMÚ</a>
    <br><a href="www.povis.cz">Povis</a>
    <br><a href="https://webmap.dppcr.cz/dpp_cr/editor.dll?GEN=LST&map=info_pp_data&TS=orp_pp&CF_SQY=C%5BCZNUTS3%5DECZ042">Povodňové plány na území Ústeckého kraje</a>
    <br><a href="www.pla.cz">Povodí Labe</a>
    <br><a href="www.poh.cz">Povodí Ohře</a>
    <br><a href="www.kr-ustecky.cz">Ústecký kraj</a>

{% endblock %}