{% extends "base.html" %}

{% block content %}
    <h1>O projektu</h1>

    <p>Povodňový systém Ústeckého kraje je provozován na datové platformě PORTABO. Součástí systému je více než 60 čidel monitorujících výšky hladin malých vodních toků. Do projektu je zapojeno více přes 40 měst a obcí po celém Ústeckém kraji. Pokud jste obcí či městem v Ústeckém kraji a také byste chtěli, abychom vám hlídali hladinu toku, neváhejte nás kontaktovat na kejzlar.t@kr-ustecky.cz.</p>
    <p>Podmínky zapojení se jsou popsány ve smlouvě o spolupráci, kterou si můžete stáhnout níže.</p>

    <p><a href="{{url_for('main_bp.download', filename="Smlouva_obce_2021-vzor.pdf")}}">Smlouva_obce_2021-vzor</a></p>

    <h2>Časté dotazy</h2>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              Jak pracovat s mapou?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Ve výchozím zobrazení mapa ukazuje souhrnný náhled umístění všech čidel a legendu, která ukazuje jejich stav. Po přiblížení na konkrétní lokalitu se zobrazí již přesné umístění čidel v této lokalitě. Pokud kliknete na konkrétní ikonu čidla, ukáže se legenda se základními informacemi, kde můžete například zjistit aktuální výšku hladiny vodního toku.<br><br>
                
                Tabulka s významem jednotlivých ikon
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Čidlo neposílá žádná data; mohly se vybít baterie, chybí signál, nebo je čidlo poškozené.
                        <div class="image-parent">
                            <img src="{{ url_for('static', filename='Img/leafletIcons/NELZE.png')}}" class="img-fluid" alt="nelze">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Čidlo je funkční a hladina je pod úrovní prvního povodňového stupně.
                        <div class="image-parent">
                            <img src="{{ url_for('static', filename='Img/leafletIcons/NORMAL.png')}}" class="img-fluid" alt="norm">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Hladina dosáhla prvního povodňového stupně. Barva ikony odpovídá barvě značení na hlásném profilu.
                        <div class="image-parent">
                          <img src="{{ url_for('static', filename='Img/leafletIcons/SPA1.png')}}" class="img-fluid" alt="spa1">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Hladina dosáhla druhého povodňového stupně. Barva ikony odpovídá barvě značení na hlásném profilu.
                        <div class="image-parent">
                          <img src="{{ url_for('static', filename='Img/leafletIcons/SPA2.png')}}" class="img-fluid" alt="spa2">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Hladina dosáhla třetího povodňového stupně. Barva ikony odpovídá barvě značení na hlásném profilu.
                        <div class="image-parent">
                          <img src="{{ url_for('static', filename='Img/leafletIcons/SPA3.png')}}" class="img-fluid" alt="spa3">
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Čidlo je vypnuté; nejčastěji z důvodu údržby. Barva ikony odpovídá barvě značení na hlásném profilu.
                        <div class="image-parent">
                          <img src="{{ url_for('static', filename='Img/leafletIcons/VYPNUTO.png')}}" class="img-fluid" alt="vypn">
                        </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Chcete nové čidlo?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <p>Pokud byste chtěli na vodním toku ve vašem katastru umístit nové povodňové čidlo, je potřeba vytipovat vhodné místo (obvykle se čidla umisťují na lávky nebo mosty)</p>
                <p>Společně pak vyřešíme stanovení povodňových stupňů. Je nutné uzavřít s krajem smlouvu o spolupráci, případně dodatek, pokud už smlouvu máte.</p>
                <p>Vzor smlouvy naleznete <a href="{{url_for('main_bp.download', filename="Smlouva_obce_2021-vzor.pdf")}}">zde</a></p>
                <p>Na nás bude instalace čidla na místo</p>
                <p>Hlásný stupeň, kde bude čidlo umístěné, musíte nechat zapracovat do svého povodňového plánu.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Čidlo nefunguje?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                Nefunkční čidlo obvykle nemusíte hlásit, vidíme tuto informaci v systému. Spojíme se s vámi a domluvíme se na dalším postupu. Pokud se přeci jen neozveme, neváhejte nás kontaktovat.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Hlásí čidlo chybný stav?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <p>Důvody, proč čidlo hlásí chybnou výšku hladiny vodního toku mohou být různé. Koryto mohlo zarůst vegetací, případně mohlo dojít k zanešení koryta naplaveným dřevem, nebo se například mohla změnit výška dna nánosy.</p>
                <p>Napište nám na <a href="mailto:podpora@portabo.cz">podpora@portabo.cz</a> a domluvíme se, co s tím ;)</p>
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Změna kontaktní osoby?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                Pokud potřebujete přidat, změnit nebo odebrat kontaktní osobu, které chodí varovné SMS a informační maily, napiště jednoduše tuto informaci mailem na adresu <a href="mailto:podpora@portabo.cz">podpora@portabo.cz</a>.
              </div>
            </div>
          </div>
      </div>
{% endblock %}