{% extends "base.html" %}

{% block content %}
<div class="container">
    {% set ns = namespace(show=1) %}
    <h1>Seznam všech hlásičů podle okresu</h1>
    <div class="row">
        <div class="col-lg">
            {% for key, value in hlasice.items() %}
            {% if key == delitel[0] %} {% set ns.show=0 %} {% endif %}
                {% if ns.show and value|length > 0 %}
                <h2>{{key}}</h2>
                    {% for hlasic in value %}
                    <a href="{{ url_for('main_bp.hlasic', orp=hlasic.ORP) }}">{{hlasic.ORP}} {{hlasic.Obec}}</a><br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg">
            {% for key, value in hlasice.items() %}
            {% if key == delitel[0] %} {% set ns.show=1 %} {% endif %}
            {% if ns.show and value|length > 0 %}
                <h2>{{key}}</h2>
                    {% for hlasic in value %}
                    <a href="{{ url_for('main_bp.hlasic', orp=hlasic.ORP) }}">{{hlasic.ORP}} {{hlasic.Obec}}</a><br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    
    </div>
</div>
{% endblock %}